# Learn more about paths on <https://github.com/github/gitignore/blob/master/Node.gitignore>

node_modules

build
dist
out
out*
.next
.nuxt
.cache
temp
generated

coverage
*.lcov
.nyc_output

logs
*.log
experiment-*
.DS_Store
.env.local
.env.*.local

.vscode-test
.vscode-test-web
.eslintcache
Thumbs.db
.idea/
.vercel
